
#steak_big{
    background-image: url("../2-meat-problems/steak.svg");

    --steak-width:1073px;
    --steak-height:580.06px;

    position:absolute;

    width: var(--steak-width);
    height: var(--steak-height);

    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
}
#co2_text,#antibiotic_text,#deforestation_text,#factory_text{
    position:absolute;
    width:auto;
    height:auto;
    font-size: 2em;
}
.text_top_left{
    top:5vh;
    left:5vh;
}
.text_top_right{
    top:5vh;
    right:5vh;
}
.text_bottom_left{
    bottom:5vh;
    left:5vh;
}
.text_bottom_right{
    bottom:5vh;
    right:5vh;
}
#syringe_container,#antibiotic_syringe_body,#antibiotic_syringe_top,#antibiotic_syringe_fluid{
    --syringe-top-height:140.66px;
    --syringe-top-width:629.17px;

    --syringe-body-height:262.02px;
    --syringe-body-width:1081.73px;

    --scale-factor:0.3;

    --scale-x:calc( -1 * var(--scale-factor));
    --scale-y:var(--scale-factor);

    position:absolute;
}
#syringe_container{
    height:calc( var(--syringe-body-height) * var(--scale-factor));
    width:calc( ( var(--syringe-body-width) + var(--syringe-top-width) ) * var(--scale-factor) );

    left:60%;
    top:45%;

    transform-origin: left center;

    transform:rotate(-50deg);
}
#antibiotic_syringe_body{
    background-image:url("../2-meat-problems/syringe_body.svg");

    width: calc(var(--scale-factor)*var(--syringe-body-width));
    height: calc(var(--scale-factor)*var(--syringe-body-height));

    transform:scaleX(-1);

    z-index:2;
}
#antibiotic_syringe_top,#antibiotic_syringe_fluid{
    animation-duration:2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#antibiotic_syringe_top{
    background-image:url("../2-meat-problems/syringe_stick.svg");

    width: calc(var(--scale-factor)*var(--syringe-top-width));
    height: calc(var(--scale-factor)*var(--syringe-top-height));

    top:50%;
    transform:translateY(-50%) scaleX(-1);

    --left-full: 60%;
    --left-empty: 26%;

    --fraction-empty:0.093;
    --fraction-full:0.993;

    --fraction-empty:0.25;
    --fraction-full:0.55;

    left:calc( var(--left-empty) + ( var(--left-full) - var(--left-empty) ) * ( var(--injection-progress) ) );

    animation-name:syringe-top-pump;

    z-index:1;
}
@keyframes syringe-top-pump{
    from{
        left:calc( var(--left-empty) + ( var(--left-full) - var(--left-empty) ) * var(--fraction-empty) );
    }
    to{
        left:calc( var(--left-empty) + ( var(--left-full) - var(--left-empty) ) * var(--fraction-full) );
    }
}
#antibiotic_syringe_fluid{
    background-image:url("../2-meat-problems/syringe_liquid.svg");

    --height:calc(113.41px*var(--scale-factor));
    --width:calc(232.48px*var(--scale-factor));

    height:var(--height);
    width:var(--width);

    top:50%;

    animation-name:fluid-stretch;

    /*--length-stretch-empty:0.1; this is the actually empty state, but we do not want go quite that far because it looks not great*/
    --length-stretch-empty:0.75;
    /*--length-stretch-full:2.6;*/
    --length-stretch-full:1.5;
}
@keyframes fluid-stretch {
    from{
        transform:translateY(-46%) scaleX(var(--length-stretch-empty));
        left:calc(25% + (var(--width) * ( var(--length-stretch-empty) - 1 ) / 2));
    }
    to{
        transform:translateY(-46%) scaleX(var(--length-stretch-full));
        left:calc(25% + (var(--width) * ( var(--length-stretch-full) - 1 ) / 2));
    }
}
.co2_bubble,.co4_bubble,#co_bubble_container,#co_bubble_path_container{
    --container-size-fraction:0.8;

    --container-width:calc( 300px * var(--container-size-fraction) );
    --container-height:calc( 300px * var(--container-size-fraction) );
    --bubble-diameter:calc( var(--container-width) / 3 );
}
#co_bubble_container{
    width:var(--container-width);
    height:var(--container-height);
    left:20%;
    top:15%;
    position:absolute;
}
#co_bubble_path_container{
    position:absolute;
    transform:scale( var(--container-size-fraction) ) translate(calc( -226.02px + 60px), calc( -550.31px - 50px ));
}
.co2_bubble > img,.co4_bubble > img,.co2_bubble,.co4_bubble{
    /* the four bubbles have hard coded delays of n/4th of this value. if this value changes, so should the delays at #co_bubble_path_container's children*/
    --animation-duration:6s;
}
.co2_bubble,.co4_bubble{
    width:var(--bubble-diameter);
    height:var(--bubble-diameter);
    position:absolute;
    offset-path:path("M342.18,931C286.5,916.5,210.5,861.5,229.5,786.5c22.35-88.21,147.26-65.91,161-125,10-43-34-87-44-111");
    transform:scale(0);
    animation: move var(--animation-duration) infinite linear var(--delay);
}
.co2_bubble{
    background-image:url("../2-meat-problems/co2_no_font.svg");
}
.co4_bubble{
    background-image:url("../2-meat-problems/co4_no_font.svg");
}
.co2_bubble > img,.co4_bubble > img{
    animation: bubble_text var(--animation-duration) infinite ease var(--delay);
}
@keyframes move{
    0%{
        offset-distance:0%;
        transform:scale(0);
        --img-opacity:0;
    }
    20%{
        offset-distance:20%;
        transform:scale(0.5);
        --img-opacity:0;
    }
    30%{
        offset-distance:30%;
        transform:scale(0.8);
        --img-opacity:1;
    }
    50%{
        offset-distance:50%;
        transform:scale(1.3);
        --img-opacity:1;
    }
    70%{
        offset-distance:70%;
        transform:scale(0.8);
        --img-opacity:1;
    }
    100%{
        offset-distance:100%;
        transform:scale(0);
        --img-opacity:0;
    }
}
@keyframes bubble_text{
    0%{
        opacity:0;
    }
    20%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
.tree_container,.tree_front_branch{
    --scale-factor:0.4;
}
.tree_container{
    width:calc(628px * var(--scale-factor));
    height:calc(663px * var(--scale-factor));

    position:absolute;

    left:15%;
    top:65%;
}
.tree{
    width:100%;
    height:100%;

    position:absolute;
    
    background-image:url("../2-meat-problems/tree_no_fire.svg");

    z-index:2;
}
.tree_front_branch{
    background-image:url("../2-meat-problems/tree_branch_front.svg");

    height:calc(212.80px * var(--scale-factor));
    width:calc(370.82px * var(--scale-factor));

    position: absolute;

    z-index:4;

    transform:translate(calc(81px / 0.4 * var(--scale-factor)), calc(53.3px / 0.4 * var(--scale-factor)));
}
.fire_back{
    width:calc(343.57px * 0.35);
    height:calc(395.15px * 0.35);

    top:-20%;

    position:absolute;

    background-image:url("../2-meat-problems/deforestation_fire_left.svg");

    z-index:1;

    transform-origin: bottom center;
    animation: fire-back 2s ease-in-out infinite alternate;
}
@keyframes fire-back{
    from{
        transform:rotate(-5deg) translateY(5%) scaleX(1);
    }
    to{
        transform:rotate(5deg) translateY(-5%) scaleX(0.9) scaleY(1.1);
    }
}
.fire_front{
    width:calc(343.57px * 0.25);
    height:calc(395.15px * 0.25);

    left: 50%;

    position:absolute;

    background-image:url("../2-meat-problems/deforestation_fire_right.svg");
    background-repeat: no-repeat;

    z-index:3;

    transform-origin: bottom center;
    /*the line below is the start state of the animation*/
    transform:rotate(5deg) translateY(-5%) scale(1.15) scaleX(0.9);

    animation: fire-front 2s ease-in-out infinite alternate 1.4s;
}
@keyframes fire-front{
    from{
        transform:rotate(15deg) translateY(-5%) scale(1.15) scaleX(0.9);
    }
    to{
        transform:rotate(7deg) translateY(5%) scale(1.15) scaleX(1) scaleY(1.3);
    }
}