
    

            main{
                display:grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(5,1fr);
                height:500vh;
                width:100%;
                background-color:#7ab9ce;
            }
            .reference_image{
                width:100%;
                height:100%;
            }

            .panel > *{
                position:absolute;
                overflow:hidden;
            }
            .real{
                background-color:#7ab9ce;
                width:100%;
                height:100%;
            }
            #grass_front,#grass_middle,#grass_back{
                position:absolute;

                --grass-real-height:110.5px;
                --grass-real-width:2035.42px;

                --grass-height:calc(var(--grass-real-height) * var(--scale-factor));
                --grass-width:calc(var(--grass-real-width) * var(--scale-factor));

                width:calc( 100vw + 2 * var(--overflow-one-side));

                height:var(--grass-height);

                background-repeat: repeat-x;

                background-size: var(--grass-width) var(--grass-height);
            }
            #grass_front_middle_fill,#grass_middle_back_fill{
                position:absolute;
                width:100%;
                bottom:0;
            }
            #grass_front_svg{
                position:relative;
                z-index:8;
                left:calc( -1 * var(--overflow-one-side));
            }
            #grass_front{
                --scale-factor:1.2;

                --overflow-one-side:1.8vw;

                left:calc( var(--left-offset) -1 * var(--overflow-one-side));

                bottom:0vh;

                /* background-image: url("grass_front.svg"); */

                z-index:8;
                fill:#8cb29f;
            }
            #grass_front_middle_fill{
                height:calc( 8vh + 1px);
                z-index:7;
                background-color:#5d8178;
            }
            #grass_middle{
                --scale-factor:0.666;

                --overflow-one-side:1.2vw;

                /*shift to one side slightly*/
                left:calc( 2vw - var(--overflow-one-side));

                bottom:8vh;
                
                background-image: url("grass_middle.svg");

                fill:#5d8178;
                z-index:6;
            }
            #grass_middle_back_fill{
                height:calc( 12vh + 1px);
                z-index:4;
                background-color:#416969;
            }
            #grass_back{
                --scale-factor:0.5;

                --overflow-one-side:1.5vw;

                /*shift to one side slightly*/
                left:calc( -2vw - var(--overflow-one-side));

                bottom:12vh;

                background-image: url("grass_back.svg");

                z-index: 4;

                fill:#416969;
            }
            #cow_left,#cow_right{
                position:absolute;
                /* kanske pröva position relative och sedan 
                försöka flytta de med js funktion */

                --cow-height:887.78;
                --cow-width:530.92;

                height:calc(var(--width)*var(--cow-width)/var(--cow-height));
                width:var(--width);

                background-image: url("cow_eating.svg");
            }
            #cow_left{
                --width:32vw;

                left: 10vw;
                bottom: 3vh;

                z-index: 7;

                transform: scaleX(-1);
            }
            #cow_right{
                --width:20vw;

                right: 14vw;
                bottom: 9vh;

                z-index: 5;
            }
            #mountain_back,#mountain_middle,#mountain_front{
                position:absolute;
                width:100%;
                bottom:0;
            }
            #mountain_back{
                z-index:0;
                background-image:url("mountains_back.svg");
                height:835.54px;
                --width:1920px;
            }
            #mountain_middle{
                z-index:1;
                background-image:url("mountains_middle.svg");
                height:574.74px;
                --width:1920px;
            }
            #mountain_front{
                z-index:2;
                background-image:url("mountains_front.svg");
                height:430px; /* changed a little */
                --width:1926px;
            }
            #grass_front>svg{
                height:100%;
            }

            /* min egen del */
    section{
      position:relative;
      width:100%;
      height:89vh;
      margin-top:11vh;
      overflow:hidden;
      display:flex;
      justify-content:center;
      align-items:center;}

      section:before{
          content:'';
          position:absolute;
          bottom:0;
          width:100%;
          height:100px;
          z-index:100;
      }

      section:after{
          content:'';
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          z-index:100;
        
          /*
          mix-blend-mode:color;
          */
      }

      section img{
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          object-fit:cover;
          pointer-events:none;
      }

      #text{
          position:relative;
          color:#6d1d23;
          font-size:10em;
          top:-200px;
          z-index:1;
      }

      /*
      Background color: dce1de
Main (e.g. header): 426968
Text: black
Highlight: 6d1d23
Additional 1: 4f899e
Additional 2: 694256

*/

/* navbar */

/* menu with drop down */
#menu{
            margin-top: 16px;
            position: fixed;
            width: 100%;
            background-color: #dce1de;
            transition: all 0.5s;
            overflow: hidden;
            height: 10%;
            z-index: 1000;
            font-size: 1.2em;
            color:#6d1d23;

        }
        #menu:hover{
            overflow: visible;
        }

        #menu:hover ~ section, #menu:hover ~ section::after, #menu:hover ~ section::before, #menu:hover ~ .grid-container-bottom, #menu:hover ~ .reference_image{
            filter: blur(5px);
        }

        .logotype{
            float:left;
            width:12%;
            height:65px;
            padding-right:2vw;
            width: 5%;
        }

        ul {
            list-style-type: none;

        }
        
        li {
            float: left;
            margin-right: 8vw;
        }

        li a, .dropbtn {
            display: inline-block;
            color:#6d1d23;
            text-align: center;
            margin-top: 3vh;
            text-decoration: none;
        }
        
        li a:hover, .dropdown-1:hover .dropbtn, .dropdown-2:hover .dropbtn , .dropdown-3:hover .dropbtn , .dropdown-4:hover .dropbtn , .dropdown-5:hover .dropbtn, .dropdown-6:hover .dropbtn {
            color: #426968;
            text-decoration: underline;
        }

        .dropdown-1:hover .dropdown-content-1 a, .dropdown-2:hover .dropdown-content-2 a, .dropdown-3:hover .dropdown-content-3 a, .dropdown-4:hover .dropdown-content-4 a, .dropdown-5:hover .dropdown-content-5 a, .dropdown-6:hover .dropdown-content-6 a{
            color: #426968;
        }
        
        li.dropdown-1, li.dropdown-2, li.dropdown-3, li.dropdown-4, li.dropdown-5, li.dropdown-6{
            display: inline-block;
        }
        
        .dropdown-content-1, .dropdown-content-2, .dropdown-content-3, .dropdown-content-4, .dropdown-content-5, .dropdown-content-6{
            display: none;
            position: absolute;
            background-color: #dce1de;
            width: 10vw;
            /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
            z-index: 1;
        }
        
        .dropdown-content-1 a, .dropdown-content-2 a, .dropdown-content-3 a, .dropdown-content-4 a, .dropdown-content-5 a, .dropdown-content-6 a{
            margin-top: 4vh;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        
        .dropdown-content-1 a:hover, .dropdown-content-2 a:hover, .dropdown-content-3 a:hover, .dropdown-content-4 a:hover, .dropdown-content-5 a:hover, .dropdown-content-6 a:hover{
            color: #6d1d23;
            text-decoration: underline;
        }

        .dropdown-background{
            display: none;
            position: absolute;
            background-color: #dce1de;
            width: 90%;
            height: 460%;
            z-index: 1;
            margin-top: 4.2%;
            margin-left: 5%;
        }
    
        

        #menu:hover .dropdown-content-1, #menu:hover .dropdown-content-2, #menu:hover .dropdown-content-3, #menu:hover .dropdown-content-4, #menu:hover .dropdown-content-5, #menu:hover .dropdown-content-6, #menu:hover .dropdown-background{
            display: block;
        }

/* for safety- shows which page you are on */
.active {
  color:black;
  font-style:italic;
}

        /* end of navbar */

/* for sponsoring */
.grid-container-bottom{
            display: grid;
            height: 20%;
            grid-template-columns:repeat(5,1fr);
            grid-template-rows:repeat(3,1fr);
            overflow: hidden;
            background-color: #426968;
            border: 2px solid transparent;
        }

/*igem login bar */
#igemloginbar{ 
            width:100%;
            background-color:grey;
            height:16px;
            top:0;
            z-index:1000;
            position:fixed;
            text-align:center;
}

/* sponsoring +social media part */

.grid-container-bottom{
            display: grid;
            height: 20%;
            grid-template-columns:repeat(5,1fr);
            grid-template-rows:repeat(3,1fr);
            overflow: hidden;
            background-color: #426968;
            border: 2px solid transparent;
        }

.boxb1{
            height: 100%;
            width: 100%;
            grid-column: 1 /span all;
            grid-row: 1;
            text-align: center;
            overflow: hidden;

            font-family:var(--f-primary);
            /*background-color:var(--clr-neutral-900); */
            /*font-weight:400;
            font-size:1.3125rem;
            line-height:1;
            */
        }

.uppsalabox{
          height:100%;
          width:100%;
          grid-column:1;
          grid-row:1 /span all;
}


.socialmediabox{
        height:100%;
        width:100%;
        grid-column: 1;
        grid-row: 2 /span all;
}

.row{display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width:50%;
        margin-left:20%;
}

.column{
    display:flex;
    flex-direction:column;
    flex-basis:100%;
    flex:1;
}
       

.boxb2 {
            height: 100%;
            width: 100%;
            grid-column: 2;
            grid-row: 2 /span all;
            text-align: center;
            overflow: hidden;
}

.boxb3 {
            height: 100%;
            width: 100%;
            grid-column: 3;
            grid-row: 2 /span all;
            text-align: center;
            overflow: hidden;
}

.boxb4 {
            height: 100%;
            width: 100%;
            grid-column: 4;
            grid-row: 2 /span all;
            text-align: center;
            overflow: hidden;
}

.boxb5 {
            height: 100%;
            width: 100%;
            grid-column: 5;
            grid-row: 2 /span all;
            text-align: center;
            overflow: hidden;
            padding-bottom:10px;
}


.vertical{
  border-right:2px solid black;
  height:50px;
}

img.social{border-radius:50%;
width:30px;
height:30px;}



