/* override template-wide styling to increase main content width to make the border around it look better */
#pagecontent {
    grid-template-columns: 1fr 0.5fr 4fr 1.5fr;
}

.integrated_hp_timeline_entry{
    padding-left: 2vh;
    margin-left: 2vh;
    padding-bottom:3vh;
    border-left:1px solid black;
    font-size:2vh;
}
.integrated_hp_timeline_entry > span{
    position:absolute;
    height:1vh;
    width:1vh;
    background-color:black;
    transform:translate( calc(-50% - 2vh),calc( 1vh - 25%) /* font-size*0.5 - <fraction of height of itself that makes it look like it was centered on the line> */);
    border-radius: 50%;
}

#fgfuture_content p{
    margin-right:3vh;
}

/* for conversation style Q&A */
#fgfuture_content .conversations{
    margin-left:0;
}
.conversation_container{
    display:grid;
    width:100%;
    height:auto;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto auto;
}
.conversation_left{
    grid-area: 1 / 1 / 2 / 3;
}
.conversation_right{
    grid-area: 2 / 2 / 3 / 4;
    margin-bottom: 3vh;
}
.conversation_right::before{
    content: "A: ";
}
.conversation_left:not(.no_question)::before{
    content: "Q: ";
}
.conversation_right,.conversation_left.no_question{
    background-color: white;
}
.conversation_left:not(.no_question){
    background-color:#ddd;
}
.conversation_left,.conversation_right{
    height:auto;
    border-radius: 1vh;
    border:1px solid black;
    margin:1vh;
    padding:1vh;
    text-align: justify;
}