
#webinar_lineup_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 5vh;
    grid-row-gap: 2vh;
}
#webinar_lineup_day1_head,#webinar_lineup_day2_head{
    font-size:3vh;
    margin:0.5vh;
    text-align: center;
}
#webinar_lineup_day1_content,#webinar_lineup_day2_content{
}
#webinar_lineup_day1_content > div ,#webinar_lineup_day2_content > div{
    display:grid;
    grid-template-rows: 2vh auto;
    grid-template-columns: 1fr 2.5fr;
    grid-column-gap: 0.6vh;
    margin-bottom:1.5vh;
}

.webinar_entry_timerange{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size:1.4vh;
}
.webinar_entry_speaker{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.webinar_entry_speaker_image{
    padding-bottom:0.5vh;
}
.webinar_entry_speaker_image > img{
    /* the border radius is capped to be symmetrical, so this makes all images perfect circles at all display sizes (except sophya logo, which is pill shaped, which is fine as well) */
    border-radius: 100vh;
}
.webinar_entry_image > img{
    height:100%;
    width:auto;
    max-width: 100%;
}
.webinar_entry_speaker_name{
    font-size:1.6vh;
    text-align: center;
}
.webinar_entry_topic{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size:1.8vh;
}