
#grass_front,#grass_middle,#grass_back{
    position:absolute;

    --grass-real-height:110.5px;
    --grass-real-width:2035.42px;

    --grass-height:calc(var(--grass-real-height) * var(--scale-factor));
    --grass-width:calc(var(--grass-real-width) * var(--scale-factor));

    width:calc( 100vw + 2 * var(--overflow-one-side));

    height:var(--grass-height);

    background-repeat: repeat-x;

    background-size: var(--grass-width) var(--grass-height);
}
#grass_front_middle_fill,#grass_middle_back_fill{
    position:absolute;
    width:100%;
    bottom:0;
}
#grass_front_svg{
    height:100%;
    position:relative;
    z-index:8;
    left:calc( -1 * var(--overflow-one-side));
}
#grass_front{
    --scale-factor:1.2;

    --overflow-one-side:1.8vw;

    left:calc( var(--left-offset) -1 * var(--overflow-one-side));

    bottom:0vh;

    z-index:8;
    fill:#8cb29f;
}
#grass_front_middle_fill{
    height:calc( 8vh + 1px);
    z-index:7;
    background-color:#5d8178;
}
#grass_middle{
    --scale-factor:0.666;

    --overflow-one-side:1.2vw;

    /*shift to one side slightly*/
    left:calc( 2vw - var(--overflow-one-side));

    bottom:8vh;
    
    background-image: url("https://2021.igem.org/wiki/images/f/f8/T--Uppsala--grass_middle.svg");

    fill:#5d8178;
    z-index:6;
}
#grass_middle_back_fill{
    height:calc( 12vh + 1px);
    z-index:4;
    background-color:#416969;
}
#grass_back{
    --scale-factor:0.5;

    --overflow-one-side:1.5vw;

    /*shift to one side slightly*/
    left:calc( -2vw - var(--overflow-one-side));

    bottom:12vh;

    background-image: url("https://2021.igem.org/wiki/images/f/f1/T--Uppsala--grass_back.svg");

    z-index: 4;

    fill:#416969;
}
#cow_left,#cow_right{
    position:absolute;

    --cow-height:887.78;
    --cow-width:530.92;

    --width:calc(var(--height)*var(--cow-height)/var(--cow-width));
    width:var(--width);
    height:var(--height);

    background-image: url("https://2021.igem.org/wiki/images/1/19/T--Uppsala--cow_eating.svg");
}
#cow_left{
    --height:40vh;

    right: calc(95vw - var(--width));
    bottom: 3vh;

    z-index: 7;

    transform: scaleX(-1);
}
#cow_right{
    --height:22vh;

    left: calc(86vw - var(--width));
    bottom: 9vh;

    z-index: 5;
}
#mountain_back,#mountain_middle,#mountain_front{
    position:absolute;
    width:100%;
    bottom:0;
    background-size: cover;
    background-position-x: center;
}
#mountain_back{
    z-index:0;
    background-image:url("https://2021.igem.org/wiki/images/d/d8/T--Uppsala--mountains_back.svg");
    height:835.54px;
    height:75%;
    --width:1920px;
}
#mountain_middle{
    z-index:1;
    background-image:url("https://2021.igem.org/wiki/images/b/bb/T--Uppsala--mountains_middle.svg");
    height:574.74px;
    height:55%;
    --width:1920px;
}
#mountain_front{
    z-index:2;
    background-image:url("https://2021.igem.org/wiki/images/b/bd/T--Uppsala--mountain_front.svg");
    height:439px;
    height:45%;
    --width:1926px;
}