/* Actual content */
#fgfuture_content{
    background-color: #dce1de;

    margin-top: 3.6vh;
    padding-bottom: 5vh;

    font-family: UL; 

    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#fgfuture_content h1,#fgfuture_content h2,#fgfuture_content h3{
    color:#6d1d23;
    font-family: UM, sans-serif;
    margin-left: 0.5vh;
}

#fgfuture_content h1{
    font-size: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
#fgfuture_content h2{
    font-size: 2.4vh;
    margin-top:1.2vh;
    margin-bottom: 1.2vh;
}
#fgfuture_content h3{
    font-size: 1.8vh;
    margin-top: 0.9vh;
    margin-bottom: 0.9vh;
}

/* styling applies to all text within the content area that is not a header */
#fgfuture_content p,#fgfuture_content ul,#fgfuture_content ol,#fgfuture_content div.content_section>div{
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    margin-left:1.5vh;
    
    padding-bottom: 2vh;

    font-family: sans-serif;
    font-size: 1.5vh;
    
    line-height: 1.5;
}

div.image{
    /* make space for text around the image */
    display:inline-block;
    padding-bottom: 1vh;
}
#fgfuture_content div.image>p,div.image>p{
    font-size: 1.2vh;
    padding-top: 1vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    text-align: justify;
}
/* make image float so that text can wrap around it */
div.image.left{
    float:left;
    padding-right:2vh;
}
div.image.right{
    float:right;
    padding-left:2vh;
}
div.image.left{
    float:left;
    padding-right:2vh;
}
div.image.right{
    float:right;
    padding-left:2vh;
}
div.quarter{
    width:25%;
}
div.half{
    width:50%;
}

/* make sure images have expected size (the actual size specifications apply to their container, not themself) */
#fgfuture_content div > img{
    width:100%;
    height:auto;
}

/* NORMAL PARAGRAPH*/
.midcontenttext >p{
    font-weight:normal;
    font-size:1em;
    color:black;
    line-height:1.8;
    letter-spacing:0.05em;
    margin-top: 3vh;
}

/* For tables */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}