/* Actual content */
#fgfuture_content{
    background-color: #dce1de;

    margin-top: 3.6vh;
    padding-bottom: 5vh;

    font-family: UL; 

    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
#fgfuture_content a{
    text-decoration: underline;
}

#fgfuture_content h1,#fgfuture_content h2,#fgfuture_content h3{
    color:#6d1d23;
    font-family: UM, sans-serif;
    margin-left: 0.5vh;
    display:block;
}

#fgfuture_content h1{
    font-size: var(--header-h1);
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
#fgfuture_content h2{
    font-size: var(--header-h2);
    margin-top:1.2vh;
    margin-bottom: 1.2vh;
}
#fgfuture_content h3{
    font-size: var(--header-h3);
    margin-top: 0.9vh;
    margin-bottom: 0.9vh;
}

/* styling applies to all text within the content area that is not a header */
#fgfuture_content p,#fgfuture_content ul,#fgfuture_content ol,#fgfuture_content div.content_section>div,#fgfuture_content span{
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    
    padding-bottom: 2vh;
    
    line-height: 1.5;
}
#fgfuture_content p,#fgfuture_content ul,#fgfuture_content ol,#fgfuture_content div.content_section>div{
    font-family: sans-serif;
    font-size: var(--text-size-regular);
}
/* all elements listed in main content sections (the usual text you see on template pages) */
#fgfuture_content p,#fgfuture_content div.content_section>div,#fgfuture_content div.content_section>ul,#fgfuture_content div.content_section>ol{
    margin-left:2.5vh;
}
/* text paragraphs that are contained within a 'list of h3s' (used a lot on hp page) */
#fgfuture_content ol > div > p{
    margin-left:2.5vh;
}

/* add padding on left of lists to make sure the li-element markers are contained within list area, not outside! */
#fgfuture_content ul{
    list-style-type: disc;
    padding-left: 2vh;
}
#fgfuture_content ol{
    list-style-type: decimal;
    padding-left: 3vh;
}

#fgfuture_content div{
    overflow:hidden;
}
#fgfuture_content div.image{
    /* make space for text around the image */
    display:inline-block;
    padding-bottom: 1vh;
}
#fgfuture_content div.image>p,#fgfuture_content div.image>p{
    font-size: var(--image-caption-inline);
    padding: 1vh;
    text-align: justify;
    margin:0;
}
/* make image float so that text can wrap around it */
div.image.left{
    float:left;
    padding-right:2vh;
}
div.image.right{
    float:right;
    padding-left:2vh;
}
div.image.middle{
    position:relative;
    left:50%;
    transform:translateX(-50%);
}
#fgfuture_content div.w10{
    width:10%;
}
#fgfuture_content div.w15{
    width:15%;
}
#fgfuture_content div.w20{
    width:20%;
}
#fgfuture_content div.quarter{
    width:25%;
}
#fgfuture_content div.third{
    width:33.3333%;
}
#fgfuture_content div.half{
    width:50%;
}
#fgfuture_content div.full{
    width:100%;
}
div.image.stacked{
    padding:0;
}
#fgfuture_content div.content_section > div.image.full{
    margin-left:0;
}

/* make sure images have expected size (the actual size specifications apply to their container, not themself) */
#fgfuture_content div.image > img{
    width:100%;
    height:auto;
}

/* For tables */
#fgfuture_content table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#fgfuture_content td, #fgfuture_content th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#fgfuture_content tr:nth-child(even) {
    background-color: #dddddd;
}

#fgfuture_content span.quote.text::before{
    content:'"';
}
#fgfuture_content span.quote.text::after{
    content:'"';
}
#fgfuture_content span.quote.source::before{
    content:' - ';
}

#fgfuture_content .button{
    display:inline-block;
    background-color: lightgrey;
    padding:1.2vh;
    border-radius:0.6vh;
    border:1px solid black;
}
#fgfuture_content .button.wide{
    margin-top: 0.5vh;
    padding:0.7vh;
    margin-right: 3vh;
    width:calc( 100% - 2 * 0.7vh - 2 * 1px - 3vh );
    text-align: center;
}

/* for use embedded into regular text */
#fgfuture_content div.content_section > div > object.pdf_file{
    width:90%;
    left:5%;
    position:relative;
    height: 50vh;
}