
.expandable_image{
    cursor:zoom-in;
    z-index:1;
}
/*the actual overlay panel*/
#image_overlay{
    position:fixed;

    left:0;
    /* top offset (which is subtracted from height) is height of igem bar and navigation bar*/
    top:calc(16px + 5vh);
    height:calc(100% - 16px - 5vh);
    width:100%;

    float:left;

    background-color: rgba(255,255,255,0.0);
    z-index: 11;
}
#image_overlay:not(.invisible){
    display:block; 
}
/*the image displayed within the overlay panel*/
.overlay_image{
    position:relative;
    transform:translateX(-50%) translateY(-50%);
    width:var(--overlay-width);
    height:var(--overlay-height);
    left:var(--left-end);
    top:var(--top-end);
}
.image_transition{
    animation-name:into_center;
    animation-duration:0.4s;
}
.image_shrink{
    animation-name:from_center;
    animation-duration:0.4s;
}
.invisible{
    display:none;
}
.pseudo-invisible{
    opacity:0.0;
}
@keyframes into_center{
    from{
        width:var(--width);
        height:var(--height);
        left:var(--left);
        top:var(--top);
    }
    to{
        width:var(--overlay-width);
        height:var(--overlay-height);
        left:var(--left-end);
        top:var(--top-end);
    }
}
@keyframes from_center{
    from{
        width:var(--overlay-width);
        height:var(--overlay-height);
        left:var(--left-end);
        top:var(--top-end);
    }
    to{
        width:var(--width);
        height:var(--height);
        left:var(--left);
        top:var(--top);
    }
}
.one_vertical_image_padding{
    height:1em;
    width:100%;
}