
#globalWrapper {padding-bottom:0px;}

@font-face {
    font-family: UL;
    src: url("https://2021.igem.org/wiki/images/5/56/T--Uppsala--Ubuntu-Light.ttf");
}

@font-face {
    font-family: UM;
    src: url("https://2021.igem.org/wiki/images/d/db/T--Uppsala--Ubuntu-Medium.ttf");
}

*{
    margin:0;
    border:0;
    padding:0;
    font-family: sans-serif;
}

a,a:visited{
    text-decoration: none;
    color: #6d1d23;
}
a:hover{
    text-decoration: underline;
    color: #426968;
}

body, html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

hr{
    height: 1px;
    background-color: #6d1d23;
    display: block;
    width: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.blurred_image_overlay,.blurred_navigation_bar_open{
    filter:blur(15px);
}