#loading_overlay{
    position:fixed;
    height:calc( 100vh - 16px);
    width:100%;
    background-color: #d9dfda;
    top:16px;
    z-index:11;
}
#loading_icon{
    height:50%;
    width:auto;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
#loading_icon > img{
    height:100%;
    width:auto;
}