#pagecontent{
    display: grid;

    grid-template-rows:calc(5vh + 50vh + 16px) auto;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    background-color: #dce1de;
}

#parallaxtop {
    height: calc(50vh + 5vh + 16px);

    background-attachment: fixed;
    background-repeat: no-repeat;
    
    overflow: hidden;
    
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}
/* some page header images may fit better if stretched to the correct size */
#parallaxtop.stretch_background{
    background-position: center calc( 5vh + 16px);
    background-size: 100% 50vh;
}
/* some page header images may fit better if clipped instead of stretched */
#parallaxtop:not(.stretch_background){
    background-position: center;
    background-size: cover;
}

#page_header{
    display:inline-block;
    position:relative;
    width:auto;
    height:auto;
    left:50%;
    top:calc( 50vh / 2 + 5vh);
    transform:translate(-50%,-50%);

    text-align: center;

    /* only placeholder text, so this font size does not matter */
    font-size: 6em;

    color: #6d1d23;
    font-family: UM, sans-serif;
}