
#page_switcher{
    display:flex;
    height:9vh;
    font-size:3vh;
    cursor: pointer;
    align-items:center;
}

#page_switcher .section_header{
    flex: 1 0;
    height:auto;
    overflow:visible;
    height:calc( 9vh - 2px);
}
.section_header{
    font-size:2.5vh;
    text-align: center;
    /*transparent border used as placeholder for solid black border on active panel (border adds to box size which moves the contained text. this placeholder avoids 'jumping' text on becoming active) */
    border-top:1px solid transparent;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    border-bottom:1px solid black;
    cursor:default;
}
/* change border to show selected section */
.section_header.active_tab{
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid transparent;
}
.section_header:hover:not(.active_tab){
    text-decoration: underline;
    cursor:pointer;
}

.section_header > div{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
/* not quite sure if the currently active, or the NOT active section should have a grey header */
.section_header.active_tab > div{
    color:grey;
}


/* the actual tabbed pages */
.tab_section{
    padding-top: 3vh;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* add padding to the page area that is surrounded by borders to make the inner content the same size as all other pages */
.tab_section{
    /* regular templates have 1+1+4+2 fr size. here it has 1+0.5+4+1.5 fr size, which means 1/8th of the width can be padding on the whole width. split in 2 equal parts for the left/right side */
    padding-left:calc( 1 / 8 / 2 * 100% );
    padding-right:calc( 1 / 8 / 2 * 100% );
    /* padding-bottom should be the same value as above, but this would only be possible using javascript. using vw as approximation of width% (the difference being the scrollbar at the side of the page) should be close enough though. */
    padding-bottom: 3vh;
}

.tab_section:not(.active_section){
    display:none;
}