
.popup > span:not(.popup_content){
    cursor:pointer;
}
.popup{
    cursor:default;
    display:inline-block;
    color:black;
    position:fixed;
    padding:1vh;

    transform:translateX(-50%);

    text-align: justify;
    z-index:10;
    background-color:white;
    border:0.2vh solid black;
}
.popup:not(.w25):not(.w50){
    width:15vw;
}
.popup.w25{
    width:25vw;
}
.popup.w50{
    width:50vw;
}

#fgfuture_content .popup object{
    height:40vh;
}

.popup_content_header{
    text-decoration: underline;
    font-size: 2.2vh;
    margin-bottom:2vh;
}
.popup_content{
    font-size: 1.5vh;
}