
#fgfuture_content .popup > span:not(.popup_content){
    cursor:pointer;
}
#fgfuture_content .popup{
    cursor:default;
    display:inline-block;
    color:black;
    position:fixed;
    padding:2vh;

    transform:translateX(-50%);

    text-align: justify;
    z-index:10;
    background-color:white;
    border:0.2vh solid black;
    border-radius:2vh;

    max-height: 100vh;

    overflow:scroll;
}
#fgfuture_content .popup:not(.w25):not(.w50){
    width:15vw;
}
#fgfuture_content .popup.w25{
    width:25vw;
}
#fgfuture_content .popup.w50{
    width:50vw;
}

#fgfuture_content .popup object{
    height:40vh;
}

#fgfuture_content .popup_content_header{
    text-decoration: underline;
    font-size: var(--popup-header);
    margin-bottom:2vh;
}
#fgfuture_content .popup_content{
    font-size: var(--text-size-regular);

    display:block;
    /* subtract padding, twice */
    width:100%;
    margin:0;
    padding:0;
}
#fgfuture_content .popup_content>div,#fgfuture_content .popup_content>p{
    display:block;
    width:100%;
}

#fgfuture_content span.popup_target{
    color:#6d1d23;
    font-weight: bold;
    margin:0;
    padding:0;
    display:inline-block;
}

#fgfuture_content .popup object.w100p{
    width:100%;
}
#fgfuture_content .popup video{
    width:100%;
}