.top_bar{
    display:none;
    height:0px;
}
.igem_column_wrapper{
    width:auto;
    max-width:none;
}
#globalWrapper{
    padding-bottom:0;
}
.igem_content_wrapper .igem_column_wrapper a,.igem_content_wrapper .igem_column_wrapper a:hover{
    font-weight: initial;
    text-decoration-color: initial;
    transition: initial;
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial;
}
h1,h2,h3,h4,h5,h6{
    padding:0;
    border:0;
}
#content{
    line-height:normal;
}
#pagecontent ul{
    list-style-image:unset;
    line-height:normal;
}
#pagecontent ol{
    list-style-image:unset;
    line-height:normal;
}